<!DOCTYPE html>
<html lang="en">

<head>
  {% include "components/head.html" %}
</head>

<body class="g-sidenav-show  bg-gray-200">
  {% include "components/navbar.html" %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg "><br> 
	<!-- Menu superior -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-2 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Listagem</a></li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Aulas</li>
        </ol>
        <h6 class="font-weight-bolder mb-0">Listagem de aulas vistas pelo aluno</h6>
      </nav>
      {% with mensagens = get_flashed_messages(with_categories = True) %}
      {% if mensagens %}
        {% for categoria, mensagem in mensagens %}
          <div class="alert alert-{{categoria}}" role="alert" style="margin: auto 0;">
            {{ mensagem }}
          </div>
        {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        
        <ul class="navbar-nav ms-md-auto pe-md-3 d-flex align-items-center justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <span class="d-sm-inline d-none">Bem vindo, {{session['infos']['nome_usual']}}</span>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a href="{{ url_for('logout') }}" class="nav-link text-body font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">Sair</span>
            </a>
          </li>
        </ul>
      </div>
      
    </div>
  </nav>
	<hr>
    <!-- Área de conteúdo -->
    <div class="container-fluid py-4">
      <div class="row mt-4">
	  
	    <!-- Área dos cards -->
      {% for aula in aulas %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card z-index-2">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent" width="100%" height="350px">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-1 pe-1">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="responsive-iframe pl-1 ytplayer" src= "https://www.youtube.com/embed/{{aula[4]}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="card-body">
              <a href="/comentar/{{ aula[0] }}/"><h6 class="mb-0 ">{{aula[2]}}</h6></a>
              <p class="text-sm ">{{aula[3]}}</p>
              <hr class="dark horizontal">
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm">{{aula[1]}} </p>
              </div>
              <div class="align-right text-center text-sm pt-3">
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </main>
  
  <!-- Scripts utilizados -->
  <script src="{{ url_for('static', filename='assets/js/core/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/core/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/plugins/perfect-scrollbar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/plugins/smooth-scrollbar.min.js') }}"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{{ url_for('static', filename='assets/js/material-dashboard.min.js') }}"></script>
  
</body>

</html>